.container{
padding-top:10px;
text-align: center;
background-color: aqua;
line-height: 10px;
height: 220px;
width: 200px;
}

.number{
    
    width: 180px;
}
p{  padding-left: 10px;
    font-size: large;
    display: flex;
}
/* .container.one{
   position: absolute;
   left: 220px;
   top: 10px;
} */